.counter{
    .Counter-heading{
        font-size: 30px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .main-function{
        .counter-count{
        color: aqua;
        font-size: 40px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        font-family: ui-serif;
        }
        .btns{
            display: flex;
            justify-content: center;
            button{
                margin: 10px;
                padding: 10px;
                border: 1px solid #000;
                background: white;
                color: #000;
                border-radius: 5px;

            }
        }
        .second-container{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            label{
                font-size: 16px;
                color: #000;
                font-weight: 600;
                margin: 0px 5px;
            }
            input{
                font-size: 16px;
                line-height: 20px;
                color: #000;
                margin: 0px 5px;
            }
        }
    }
}